<h2>Products</h2>

<div>
  <label>
    Product Name:
    <div>
      <span>Név: </span><input #productName />
    </div>
    <div>
      <span>Mennyiség: </span><input #productQuantity />
    </div>
    <div>
      <span>Elérhető: </span><input #productEnabled />
    </div>
    <div>
      <span>Ár: </span><input #productPrice />
    </div>
    <div>
      <select #categoryId required>
        <option value="0">--Kategóriák--</option>
        <option *ngFor="let category of categories" value="{{category.id}}">
          {{category.name}}
        </option>
      </select>
    </div>
  </label>
  <button (click)="add(productName.value, productQuantity.value, productEnabled.value, productPrice.value, categoryId.value);">
    add
  </button>
</div>

<ul class="products">
  <li *ngFor="let product of products">
<!--
      [class.selected]="product === selectedProduct"

      (click)="onSelect(product)">
-->
    <a routerLink="/detail/{{product.id}}">
      <span class="badge">{{product.id}}</span>
      <span>{{product.name}}</span>
    </a>
    <button class="delete" title="delete category"
            (click)="delete(product)">x</button>
  </li>
<!--
<app-product-detail [product] ="selectedProduct"></app-product-detail>
-->
</ul>
