<h2>Products</h2>

<div>
  <label>
    Product Name:
    <input #productName />
    <input #productQuantity />
    <input #productEnabled />
    <input #productPrice />
  </label>
  <button (click)="add(productName.value, productQuantity.value, productEnabled.value, productPrice.value);">
    add
  </button>
</div>

<ul class="products">
  <li *ngFor="let product of products">
<!--
      [class.selected]="product === selectedProduct"

      (click)="onSelect(product)">
-->
    <a routerLink="/detail/{{product.id}}">
      <span class="badge">{{product.id}}</span>
      <span>{{product.name}}</span>
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(product)">x</button>
  </li>
<!--
<app-product-detail [product] ="selectedProduct"></app-product-detail>
-->
</ul>
