<div *ngIf="product">
  <h2>{{product.name | uppercase}} Details</h2>
  <div><span>id: </span>{{product.id}}</div>
  <div>
    <div>
      <span>Név: </span>
      <span>{{product.name}}</span>
    </div>
    <div>
    <span>Kategória: </span><span>{{product.category.id}}</span>
    </div>
    <div>
      <span>Ár: </span>
      <span>{{product.price}}</span>
    </div>
    <div>
      <span>Mennyiség: </span>
      <span>{{product.quantity}}</span>
    </div>

    <div>
      <span>Felvett: </span>
      <span>{{product.createdAt}}</span>
    </div>
    <div>
      <span>Módosítva: </span>
      <span>{{product.updatedAt}}</span>
    </div>
    <div>
      <span>Engedélyezett: </span>
      <span>{{product.enabled}}</span>
    </div>
    <div>
      <span>Termék mértékegysége: </span>
      <span>{{product.product_measure}}</span>
    </div>
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="product.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
